@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap');

$black: #000000c9;
$overlayBlack: rgba(0, 0, 0, 0.5);
$grey: #D9D9D9;
$ligthGrey: rgb(245,245,245);
$normalGrey: gray;
$buttonGreen: rgba(75, 192, 8, 0.616);
